@charset "utf-8";
/* CSS Document */

/*------------------------------------*\
  RESET
\*------------------------------------*/
html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video{
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font:inherit;
}

html{
	height: 100%;
	min-height: 100%;    
}

body {
	height: 100%;
	min-height: 100%;
	background-color: white;	
}

#wrapper {
	display:block;	
	height: 100%;
	min-height: 100%;
}

#header {
	height: 20%;
	min-height: 20%;
	display:block;
	background-color: #CCCCCC;
}

#title{
	width: 100%;
	text-align: center;
	font-size: 3em;
}

#valpo {
	height: 75%;
	min-height: 75%;
	display:block;
	clear: both;
	background-color: #FFFFFF;
	position: relative;
}

#footer {
	display:block;	
	height: 5%;
	min-height:5%;
	clear: both;
	text-align: center;
	background-color: #CCCCCC;
	font-size: 1em;
}

#vHeader {
	height: 5%;	
	display:block;
	border: 1px dashed;
}

#vMain{
	height: 85%;	
	display: block;
}

#vScenario{
	height: 100%;	
	width: 70%;
	float: left;
	border: 1px dashed;
}

#vNodes{
	height: 15%;
	width: 100%;
	background-color: white; overflow-x: hidden; overflow-y: hidden;	
}

#vDraw{
	height: 85%;
	width: 100%;
	background-color: white; border: 1px solid black; overflow-x: hidden; overflow-y: scroll;
}

#progress_bar.visible{
    width: 100%;
    position: relative;
    visibility: visible;  
}

#progress_bar.invisible{
    width: 100%;
    position: relative;
    visibility: hidden;
}

#progress_bar img.loading_circle {
    position: absolute;
    top: 50%;  
    left: 40%;
}

#vMessages{
	width: 26%;
	height: 100%;
	min-height: 100%;
	float: right;
	border: 1px dashed;
}

#vMessagesHeader{
	height: 15%;
	width: 100%;
	background-color: white; overflow-x: hidden; overflow-y: hidden;	
}

#vMessagesBody{
	height: 85%;
	width: 100%;
	background-color: white; overflow-x: hidden; overflow-y: scroll;	
}

#vCommand{
	height: 9%;
	clear: both;
	display:block;
	border: 1px dashed;
}

#Commands {
}

#Commands ul li {
	display: inline-block;
	margin-left: 15px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
}



#Commands input{
  font-size: 1.2em;
  padding: 1px 2px 1px 2px;
  margin: 2px 0px 0px 0px;
}

#Commands input.play{
  width: 90px;
}

#Commands input.inactive{
  background-color:default;
}

#Commands input.active{
  background-color: #FF6600;
  -webkit-transition-property: background-color;
  -webkit-transition-duration: 2.0s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-property: background-color;
  -moz-transition-duration: 2.0s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-property: background-color;
  -o-transition-duration: 2.0s;
  -o-transition-timing-function: ease-in-out;
  -ms-transition-property: background-color;
  -ms-transition-duration: 2.0s;
  -ms-transition-timing-function: ease-in-out;
  transition-property: background-color;
  transition-duration: 2.0s;
  transition-timing-function: ease-in-out;  
}

#Commands a{
  font-size: 1.0em;
  text-decoration:none;
}

#Commands a:hover {color:#000000;}
#Commands a:link {color:#000000;}
#Commands a:visited {color:#000000;}
#Commands a:active {color:#000000;} 

/* it works for the dialog messages for error and information */
#msgContainer {
	padding: 2px;
	height: 100%;
	width: 100%;	
	overflow-x: hidden;
	overflow-y: auto;
}

#msg { padding: 5px;}
 
#msg.valid{ border: 1px solid #0f0;  font-size: 0.8em; background-color: #efe; }
 
#msg.error { border: 1px solid #f00; font-size: 0.8em; background-color: #fee; }     
     
#msg.comment { border: 1px solid #000; font-size: 1.0em; background-color: #fff; }

/* It works for the content of the dialog */
#maindialog{
	height: 100%;
	width: 100%;
	display:none;
	font-size: 1.0em;
	background-color: white; overflow-x: hidden; overflow-y: hidden;
}

/* It works for the content of the MCQ dialog */
#mcq.MCQcontainer{ 
	background-color: white; 
	border: 0px solid black; 
	overflow-x: hidden; 
	overflow-y: auto;
}

#mcq .MCQquestion{ 
	font-size: 1.2em;
}

#mcq .MCQanswers{ 
	font-size: 1.0em;
}

#mcq .MCQcomments{ 
	font-size: 1.0em;
}

/* it works for the content of the Open Scenario Dialog */
#DialogContainer{
	height: 100%;
	width: 100%;
	background-color: white; overflow-x: hidden; overflow-y: hidden;
	position: relative;	
}

#ScenarioFilter{
	width: 100%;
}

#ScenarioListContainer {
	height: 85%;
	width: 100%;
	background-color: white; overflow-x: hidden; overflow-y: auto;
	position: relative;
}

#ScenarioList{
	height: 100%;
	width: 100%;
	top:0px;
}

#ScenarioList ul{
	width: 100%;
	border-top: 1px solid #ccc;	
}

#ScenarioList ul li{
	border-bottom: 1px solid #ccc;
	line-height: 30px;	
	display: list-item;
	background: #eee;
	cursor:pointer;
}

#ScenarioList ul li.ScenarioSelected {
	background: #fff;	
}

#ScenarioList img{
    display:block;
    margin:auto;	
}


/* For the Scenario Data Dialog */
#scenarioData{
	background-color: white; overflow-x: hidden; overflow-y: hidden;
}

#ScenarioDataDialog{
	height: 100%;
	display:block;
    margin:auto;
    font-size: 1.0em;
    background-color: white; overflow-x: auto; overflow-y: auto;
}

#ScenarioMessageList{
	font-size: 0.8em;
}

#ScenarioDataDialog .ScenarioDataButton{
  padding-top: 2.0em;
}


@media screen and (max-width: 768px) {
	#title{
		font-size: 2.5em;
	}

	#vScenario{
		width: 95%;
		float: left;
		border: 1px dashed;
	}
	
	#vNodes{
		width: 100%;
	}
	
	#vDraw{
		width: 100%;
	}
	
	#vMessages{
		display: none;
	}
	
	#footer {
		display: none;
	}
	
	#Commands ul li {
		margin-left: 7px;
	}	

	#Commands input{
	  font-size: 0.9em;
	}
	
	#Commands input.play{
	  width: 75px;
	}	

	#Commands a{
	  font-size: 0.8em;
	}	

}

@media screen and (max-width: 550px) {
	#header {
		display: none;
	}
	
	#footer {
		display: none;
	}
	
	#Commands ul li {
		margin-left: 5px;
	}	
	
	#Commands input{
	  font-size: 0.7em;
	}
	
	#Commands input.play{
	  width: 60px;
	}		
	
	#Commands a{
	  font-size: 0.6em;
	}	
	
}

@media screen and (max-width: 320px) {
	#header {
		display: none;
	}
	
	#footer {
		display: none;
	}
	
	#Commands ul li {
		margin-left: 4px;
	}	
	
	#Commands input{
	  font-size: 0.7em;
	}
	
	#Commands input.play{
	  width: 60px;
	}		
		
	#Commands a{
	  font-size: 0.6em;
	}	
}
